@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to CompanyName</h1>
        <p class="lead">We bring your ideas to life with creativity and innovation.</p>
        <hr class="my-4">
        <p>Discover our services and what we can do for you at <strong>JKT Creations</strong>.</p>
        
    </div>
</div>