@model CareerApply

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row p-2">
            <h2 class="text-primary">Apply</h2>
            <hr />
        </div>
        <div class="mb-3 row p-2" style=" display: none;">
            <label asp-for="CareerId" class="p-0"></label>
            <input asp-for="CareerId" type="text" class="form-control" />
        </div>
        <div class="mb-3 row p-2">
            <label asp-for="JobCode" class="p-0"></label>
            <input asp-for="JobCode" type="text"  class="form-control" readonly/>
            <span asp-validation-for="JobCode" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-2">
            <label asp-for="FullName" class="p-0"></label>
            <input asp-for="FullName" type="text" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-2">
            <label asp-for="YearofExperinace" class="p-0"></label>
            <input asp-for="YearofExperinace" type="text" class="form-control" />
            <span asp-validation-for="YearofExperinace" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-2">
            <label asp-for="Phone" class="p-0"></label>
            <input asp-for="Phone" type="text" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-2">
            <label asp-for="Email" class="p-0"></label>
            <input asp-for="Email" type="text" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Apply</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Career" asp-action="Index" class="btn btn-outline-secondary form-control">
                    Back to list
                </a>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}